{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "no-shadow": 0,
    "comma-dangle": ["error", "only-multiline"],
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/button-has-type": 0,
    "react/jsx-one-expression-per-line": 0
  }
}